---
import '../styles/global.css'
import RezDisplay from '../components/RezDisplay.svelte';
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Evaluacion</title>
  <link rel="icon" href="/webIcon.png" type="image/png" />
</head>
<body>
    <RezDisplay client:only="svelte"/>
</body>
</html>
