---
import { dataSent } from '../sharedSht';


const file = dataSent.get().file;
const ramaId = dataSent.get().idRama;
const mochilaId = dataSent.get().idMochilon;
const tiposCaminosId = dataSent.get().idsTiposCamino;

const formData = new FormData();
if (file) formData.append('file', file);
if (ramaId) formData.append('rama_id', ramaId);
if (mochilaId) formData.append('mochila_id', mochilaId);


//if (tiposCaminosId !== []) formData.append('tipos_camino_id', tiposCaminosId);
// formData.append('mochila_id', 0);

try {
    const response = await fetch('http://127.0.0.1:8000/query-gpx/', {
        method: 'POST',
        body: formData
    });

if (!response.ok) {
    const errorData = await response.json();
    throw new Error(`Error: {errorData.message}, {errorData.error}`);
}

const data = await response.json();
alert('¡Archivo enviado con éxito!');
console.log(data);
} catch (error) {
console.error(error);
alert('Ocurrió un error.');
}
---
<p>
    damn son
</p>